.fonts {
    font-family: "Edu TAS Beginner", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.fontData {
    font-family: "Sometype Mono", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    background-image:url(img/wall.png);
}

main {
    background-image:url(img/cork.png) ;
    background-size: contain;
}

#img {
    width:200px;
    height: 200px;
    object-fit: cover;
}

#pin {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translatex(-50%);
    top: -15px;
    left: 50%;
    background-size: contain;
}


.bCard {
    background-color: white;
    padding: 2%;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.bCard:hover {
    transform:rotate(10deg) scale(1.2);
}

.overlay1 {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay img {
    width: 50%;
}

.btn1 {
    display: none;
}